API_ID=22257865
API_HASH="97fc23c20e06f411abbf36cad8e118ce"
BOT_TOKEN="7452110956:AAE3DCldVOdNpBimfS0G6-LxvsHIlBES1Rk"
LOGGER_ID=1647602447
MONGO_DB_URI="mongodb+srv://HaremDBBot:ThisIsPasswordForHaremDB@haremdb.swzjngj.mongodb.net/?retryWrites=true&w=majority"
OWNER_ID=1647602447
STRING_SESSION=
